.card {
  display: flex;
  position: relative;
  flex-direction: column;
}

.card__title {
  max-width: 353px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.8;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-top: 12px;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/trash-Default.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/trash-Hover.svg);
  opacity: 0.8;
}

.card__delete-btn:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

.card__like-btn {
  background-image: url(../images/heart-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/like-heart.svg);
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}