.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}


.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
  font-size: 32px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background: transparent;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0;
  display: block;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;

}

.modal__input::placeholder {
  color: #212121;
  opacity: 0.3;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: #ff0000;
  margin-top: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 0.5;
}

.modal__image-container {
  position: relative;
}

.modal__img {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
}


@media screen and (max-width: 627px) {

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__img {
    max-width: unset;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: 100%;
  }

}