.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
  font-size: 32px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border: none;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-color: #2121214d;
  border-radius: 8px;
  padding: 16px 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
}
